@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 9;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }
    &__btn{
        color: #fff;
        background-color: transparent;
        font-size: 15px;
        line-height: 17px;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: #000;
            background-color: #fff;
        }
    }
    &__phone{
        @extend %ubuntu-bold;
        font-size: 16px;
        line-height: 18px;
    }
}

.menu{
    &__list-item{
        display: inline-block;
        & + .menu__list-item{
            padding-left: 20px;
        }
    }
    &__list-phone{
        display: none;
    }
    &__btn{
        display: none;
    }
}

.top{
    background-image: url('../images/top-bg.jpg');
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 57.43% at 50% 55.57%, rgba(23, 26, 28, 0) 50.28%,
        rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.3;
    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title{
        font-size: 96px;
        line-height: 140px;
        @extend %sf-semibold;
        margin-bottom: 50px;
    }
    &__text{
        margin: 30px 0 40px;
        max-width: 325px;
    }
    &__social-item{
        display: inline-block;
        margin: 0 25px;
    }
    &__social-link{
        opacity: 0.5;
        transition: all .3s;
        &:hover{
            opacity: 1;
        }
    }
}

.products{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__text{
        max-width: 440px;
        p{
            margin-bottom: 30px;
        }
    }
    &__slider-box{
        padding-top: 105px;
        position: relative;
    }
    &__slider-text{
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        @extend %ubuntu-medium;
        position: absolute;
        width: 285px;
        bottom: 30px;
        left: -250px;
        z-index: 5;
    }
    &__slider{
        max-width: 560px;
        &:before{
            content: "";
            position: absolute;
            width: 560px;
            height: 275px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}

.slider-btn{
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    bottom: -48px;
    right: 0;
    z-index: 5;
    svg{
        stroke: #000;
    }
    &__left{
        right: 60px;
    }
    &.slick-disabled{
        background-color: #000;
        svg{
            stroke: #fff;
        }
    }
}

.benefits{
    &__items{
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    &__item{
        margin-bottom: 90px;
        display: flex;
        align-items: flex-end;
        &:nth-child(even){
            margin-left: 40px;
            transform: translateY(25px);
        }
        &:nth-child(3){
            margin-left: 30px;
        }
        &:nth-child(4){
            margin-left: 60px;
        }
        &:first-child,
        &:nth-child(3){
            position: relative;
            &:before,
            &:after{
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;

            }
        }

        &:first-child{
            &:before{
                background-image: url('../images/line-1.svg');
                width: 245px;
                height: 48px;
                top: 31px;
                right: -56px;   
            }
        }
        &:nth-child(3){
            &:before{
                background-image: url('../images/line-3.svg');
                width: 254px;
                height: 43px;
                right: -55px;
                top: 55px;
            }
            &:after{
                background-image: url('../images/line-2.svg');
                width: 463px;
                height: 62px;
                top: -70px;
                right: -55px;
            }
        }
    }

    
    &__num{
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img{
        position: relative;
        margin-right: 32px;
        &:before{
            content: '';
            position: absolute;
            width: 191px;
            height: 126px;
            border: 2px solid #fff;
            top: -12px;
            right: -12px;
            z-index: -1;
        }
    }
    &__info{
        width: 300px;
    }
    &__info-title{
        width: 123px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__info-text{
        font-size: 15px;
        line-height: 18px;
    }
}

.specification{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }
    &__item--center{
        margin-right: -15px;
        margin-left: -15px;

    }
    &__box{
        width: 280px;
        position: relative;
        margin-top: 10px;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    &__box-2{
        margin-top: 140px;
    }
    &__box-4{
        margin-top: 160px;
    }
    &__box-1:before{
        background-image: url('../images/pointer-1.svg');
        width: 229px;
        height: 114px;
        right: -140px;
        top: 16px;
    }
    &__box-2:before{
        background-image: url('../images/pointer-2.svg');
        width: 345px;
        height: 81px;
        right: -315px;
        top: -60px;

    }
    &__box-3:before{
        background-image: url('../images/pointer-3.svg');
        width: 258px;
        height: 103px;
        left: -299px;
        top: 16px;
    }
    &__box-4:before{
        background-image: url('../images/pointer-4.svg');
        width: 124px;
        height: 89px;
        left: -172px;
        top: -73px;
    }

    &__box-title{
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__box-text{
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }
}

.questions{
    &__items{
        max-width: 757px;
        padding-bottom: 15px;
    }
    &__item{
        background-color: rgba(0, 0, 0, 0.3);
        max-width: 690px;
        position: relative;
        &:nth-child(3):before{
            content: "";
            position: absolute;
            width: 319px;
            height: 125px;
            background-image: url('../images/questions-bg.png');
            right: -386px;
            top: -33px;
        }
    }
    &__item-title{
        max-width: 690px;
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-medium;
        color: rgba(#fff, .8);
        padding: 20px 10px 20px 40px;
        margin-bottom: 4px;
        cursor: pointer;
        position: relative;
        &:after{
            content: url('../images/accordion-arrow.svg');
            position: absolute;
            width: 72px;
            height: 67px;
            background-color: #fff;
            right: -72px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item-text{
        font-size: 15px;
        line-height: 22px;
        padding: 0 5px 75px 50px;
        margin: 0 0 4px;
        display: none;
    }
    &__item.questions__item--active{
        .questions__item-title:after{
            transform: rotate(180deg);
        }
        .questions__item-text{
            display: block;
        }
    }

}

.contacts{
    &__inner{
        display: flex;
        padding-left: 25px;
    }
    &__info{
        width: 240px;
        margin-right: 60px;
    }
    &__info-box{
        margin-bottom: 30px;
    }
    &__info-title{
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__info-phone,
    &__info-email{
        font-size: 15px;
        line-height: 19px;
    }
    &__info-email:hover{

        text-decoration: underline;
    }
    &__form{
        width: 570px;
        margin-right: 106px;
    }
    &__form-title{
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__form-text{
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 0 0 12px;
    }
    &__form-line{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__form-input,
    &__form-textarea{
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        line-height: 17px;
        @extend %ubuntu-regular;
        border: none;
        padding: 15px;
        color: #fff;
        &::placeholder{
            color: rgba(#fff, .4);
        }
    }
    &__form-input{
        width: 49%;
    }
    &__form-textarea{
        min-height: 144px;
        width: 100%;
        resize: none;
        margin-bottom: 20px;
    }
    &__form-btn{
        text-transform: uppercase;
        padding: 9px 15px;
        @extend %ubuntu-bold;
        border: 1px solid #FFFFFF;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        border-radius: 2px;
        background-color: transparent;
        transition: all .3s;
        &:hover{
            color: #000;
            background-color: #fff;
        }
    }
    &__social-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__social-item{
        margin: 14px 0;
    }
    &__social-link{
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
}

.footer{
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    &__copy{
        text-align: right;
        font-size: 13px;
        line-height: 17px;
        color: rgba(#fff, .64);
    }
}

@import "media";
